version: "3.3"
services:

  nginx:
    image: nginx
    restart: always
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./app:/var/www/html
    ports:
      - "80:80"
    links:
      - php:php

  php:
    build: ./php
    restart: always
    expose:
      - "9000"
    links:
      - mysql
      - redis
    volumes:
      - ./app:/var/www/html

  mysql:
    image: mysql
    restart: always
    ports:
      - "3306:3306"
    volumes:
      - "$PWD/mysql/my.cnf:/etc/mysql/conf.d/mysql.cnf"
    environment:
      MYSQL_ROOT_PASSWORD: root
 
  redis:
    image: redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - "$PWD/redis:/data"
    command: redis-server --appendonly yes
